*{
    margin: 0;
    padding: 0;
    box-sizing: 0; 
}
nav{
    background: black;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
/*nav ul li{*/
    /*list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;*/
    /*justify-content: center;*/
/*}*/
nav ul li{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
}
nav ul li a{
    /*color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;*/
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(253, 253, 253);
    letter-spacing: 500px 500px;
    width: 50%;
    display: inline-block;
}
nav ul li a:hover{
    background-color: royalblue;
    /*border-radius: 2px;*/
}